.form {
    margin: 0 auto;
    display: block;
    width: 348px;
    margin-top: 40px;
}

.formadd {
    margin: 5px;
}

    .formadd input {
    width: 100%;
    }

.title {
    margin: 0 auto;
    width: 100px;
    margin-top: 30px;
    font-size: 35px;
}

.but1 {
    margin-top: 8px;
    float: left;
    margin-bottom: 50px;
}

.but {
    float: right;
}
